body{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    font-family: Verdana;
    line-height: 1.5;
}

#chat_container{
    width: 940px;
    margin: auto;
}

#dialog_name{
    font-weight: bolder;
    font-size: 24px;
    color: #727272;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: 1px solid #e1e1e1;;
}

.count{
    padding: 25px;
    font-size: 12px;
}

#count_message_label{
    color: #bfbfbf;
}

#count_message{
    color: #686868;
}

.container{
    padding: 25px;
    background-color: #f8f8f8;
    font-size: 14px;
    box-shadow: 0 6px 4px -4px  #f1f1f1;
}

.inner_container{
    background-color: white;
    border: 1px solid #e1e1e1;
}

#messages_inner_container{
    height: 570px;
    overflow: hidden;
}

.message{
    background: #fafafa;
    width: 890px;
}

.section{
    display: table;
}

.section:after, .section:before{
    clear: both;
}

.avatar_block{
    background: #fafafa;
    padding: 20px 20px;
    float: left;
}

.avatar{
    width: 45px;
    height: 45px;
}

.message_block{
    margin-left: 86px;
    background: white;
    width: 800px;
    min-height: 90px;
}

.message_inner_block{
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    width: 760px;
    position: relative;
    height: 50px;
}

.text_block{
    float: left;
    width: 635px;
}

.name_interlocutor{
    font-weight: bold;
    font-size: 12px;
    color: #727272;
    margin-bottom: 5px;
}

.text_message{
    color: #777676;
}

.datetime_block{
    float: right;
    width: 112px;
    margin-right: 13px;
}

.datetime_inner_block{
    float: right;
    color: #a5abbf;
    line-height: 1.4;
    font-size: 12px;
}


.date_label{

}

.time_label{
    float: right;
}

.time_label:before{
    content: "в ";
}

.recently_time_label:before{
    content: "";
}

.control_panel{
    /*float: right;*/
    position: absolute;
    bottom: 8px;
    right: 13px;
}

.control{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.edit_button{
    margin-right: 18px;
}

.clear { clear: both;  /* Отменяем обтекание */ }

.not_read{
    background: #fafafa;
}

#write_container{
    margin-top: 20px;
    position: relative;
    padding-bottom: 10px;
}

#writing_text{
    width: 698px;
    font-family: Verdana;
    font-size: 16px;
    color: #777676;
    padding: 10px;
    overflow: auto;
    height: 80px;
    background: white;
    border: 1px solid #e1e1e1;
}

#count_symbols{
    padding-top: 5px;
    color: #a5abbf;
    font-size: 12px;
}

#current_symbol_count{
    color: #626262;
}

#current_symbol_count:after{
    content: "/";
}

#add_place{
    position: absolute;
    top: 25px;
    right: 30px;
    text-decoration: none;
}

#add_place img{
    border: 0;
    position: relative;
    top: 5px;
}

#add_place_label{
    font-size: 13px;
    border-bottom: 1px solid #6a997f;
    color: #6a997f;
}

.button_container{
    position: absolute;
    width: 147px;
    right: 25px;
    bottom: 29px;
    height: 50px;
}

#send_message{
    float: left;
    background: #e2f8df;
    padding: 10px 30px;
    color: #4da76b;
    font-size: 16px;
    border: 1px solid #9bdbb8;
    cursor: pointer;
    box-shadow: 0 6px 4px -4px #c6c7c6;
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
}

#send_message:hover{
    background: #c1f3ba;
}

.image_marker{
    position: relative;
    top: 5px;
}

